src/java/TestWS/TestWS.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType/>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Connected">
        <s:complexType/>
      </s:element>
      <s:element name="ConnectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectedResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAlive">
        <s:complexType/>
      </s:element>
      <s:element name="IsAliveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAliveResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUDFs">
        <s:complexType/>
      </s:element>
      <s:element name="AddUDFsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUDFsResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQL" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax"/>
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BP" type="tns:BusinessPartner"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BusinessPartner">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CardCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CardName" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="GroupCode" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="PriceListNum" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="TaxCode" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Terms" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="SecondPhone" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="MobilePhone" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ShipToAddress" type="tns:Address"/>
          <s:element minOccurs="0" maxOccurs="1" name="BillToAddress" type="tns:Address"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Address3" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="AddBPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddBPResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Invoice" type="tns:Document"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Document">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nbsGUID" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="DocDueDate" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="DocPostingDate" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="Lines" type="tns:ArrayOfDocLine"/>
          <s:element minOccurs="0" maxOccurs="1" name="CardCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="BillToAddress" type="tns:Address"/>
          <s:element minOccurs="0" maxOccurs="1" name="ShipToAddress" type="tns:Address"/>
          <s:element minOccurs="1" maxOccurs="1" name="PriceList" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerRef" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="UDFs" type="tns:ArrayOfUDF"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDocLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DocLine" nillable="true" type="tns:DocLine"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="DocLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WarehouseCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:double"/>
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:double"/>
          <s:element minOccurs="0" maxOccurs="1" name="comments" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="TaxCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="UDFs" type="tns:ArrayOfUDF"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUDF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UDF" nillable="true" type="tns:UDF"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="UDF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="AddInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddInvoiceResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld"/>
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse"/>
  </wsdl:message>
  <wsdl:message name="ConnectedSoapIn">
    <wsdl:part name="parameters" element="tns:Connected"/>
  </wsdl:message>
  <wsdl:message name="ConnectedSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectedResponse"/>
  </wsdl:message>
  <wsdl:message name="IsAliveSoapIn">
    <wsdl:part name="parameters" element="tns:IsAlive"/>
  </wsdl:message>
  <wsdl:message name="IsAliveSoapOut">
    <wsdl:part name="parameters" element="tns:IsAliveResponse"/>
  </wsdl:message>
  <wsdl:message name="AddUDFsSoapIn">
    <wsdl:part name="parameters" element="tns:AddUDFs"/>
  </wsdl:message>
  <wsdl:message name="AddUDFsSoapOut">
    <wsdl:part name="parameters" element="tns:AddUDFsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataTable"/>
  </wsdl:message>
  <wsdl:message name="GetDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataTableResponse"/>
  </wsdl:message>
  <wsdl:message name="AddBPSoapIn">
    <wsdl:part name="parameters" element="tns:AddBP"/>
  </wsdl:message>
  <wsdl:message name="AddBPSoapOut">
    <wsdl:part name="parameters" element="tns:AddBPResponse"/>
  </wsdl:message>
  <wsdl:message name="AddInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:AddInvoice"/>
  </wsdl:message>
  <wsdl:message name="AddInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:AddInvoiceResponse"/>
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn"/>
      <wsdl:output message="tns:HelloWorldSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Connected">
      <wsdl:input message="tns:ConnectedSoapIn"/>
      <wsdl:output message="tns:ConnectedSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <wsdl:input message="tns:IsAliveSoapIn"/>
      <wsdl:output message="tns:IsAliveSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddUDFs">
      <wsdl:input message="tns:AddUDFsSoapIn"/>
      <wsdl:output message="tns:AddUDFsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <wsdl:input message="tns:GetDataTableSoapIn"/>
      <wsdl:output message="tns:GetDataTableSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddBP">
      <wsdl:input message="tns:AddBPSoapIn"/>
      <wsdl:output message="tns:AddBPSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddInvoice">
      <wsdl:input message="tns:AddInvoiceSoapIn"/>
      <wsdl:output message="tns:AddInvoiceSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connected">
      <soap:operation soapAction="http://tempuri.org/Connected" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/IsAlive" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUDFs">
      <soap:operation soapAction="http://tempuri.org/AddUDFs" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <soap:operation soapAction="http://tempuri.org/GetDataTable" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBP">
      <soap:operation soapAction="http://tempuri.org/AddBP" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInvoice">
      <soap:operation soapAction="http://tempuri.org/AddInvoice" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connected">
      <soap12:operation soapAction="http://tempuri.org/Connected" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap12:operation soapAction="http://tempuri.org/IsAlive" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUDFs">
      <soap12:operation soapAction="http://tempuri.org/AddUDFs" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <soap12:operation soapAction="http://tempuri.org/GetDataTable" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBP">
      <soap12:operation soapAction="http://tempuri.org/AddBP" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInvoice">
      <soap12:operation soapAction="http://tempuri.org/AddInvoice" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://wstest/SexingTechWSsetup/Service.asmx"/>
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://wstest/SexingTechWSsetup/Service.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>